@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta barras de rolagem mas mantém a função de swipe nativa perfeita */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}